<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <link rel="stylesheet" href="../js/layui/css/layui.css">
    <script src="../js/jquery-3.4.1.min.js"></script>
    <script src="../js/layui/layui.js"></script>
    <style>
        body {
            overflow: hidden;
        }

        .menu-top-right {
            float: right;
        }

        .menu-left {
            float: left;
        }

        iframe {
            float: left;
            border: none;
            width: 100%;

        }

        .project_name {
            margin-right: 30px;
            font-size: 16px;
        }
    </style>
</head>
<body>
<ul class="layui-nav menu-top-left" lay-filter="">
    <li class="layui-nav-item project_name"><span>工业控制系统</span></li>
    <li class="layui-nav-item layui-this"><a href="form" target="main_frame">表单</a></li>
    <li class="layui-nav-item"><a href="table" target="main_frame">列表</a></li>
    <li class="layui-nav-item">
        <a href="javascript:;" target="main_frame">解决方案</a>
        <dl class="layui-nav-child"> <!-- 二级菜单 -->
            <dd><a href="../login/colrow" target="main_frame">布局</a></dd>
            <dd><a href="" target="main_frame">后台模版</a></dd>
            <dd><a href="" target="main_frame">电商平台</a></dd>
        </dl>
    </li>
    <li class="layui-nav-item"><a>社区</a></li>
    <div class="menu-top-right">
        <li class="layui-nav-item">
            <a href="">控制台<span class="layui-badge">9</span></a>
        </li>
        <li class="layui-nav-item">
            <a href="">个人中心<span class="layui-badge-dot"></span></a>
        </li>
        <li class="layui-nav-item">
            <a href=""><img src="//t.cn/RCzsdCq" class="layui-nav-img">我</a>
            <dl class="layui-nav-child">
                <dd><a href="javascript:;">修改信息</a></dd>
                <dd><a href="javascript:;">安全管理</a></dd>
                <dd><a href="javascript:;">退了</a></dd>
            </dl>
        </li>
    </div>
</ul>
<iframe src="/login/form" name="main_frame"></iframe>
<script>
    //注意：导航 依赖 element 模块，否则无法进行功能性操作
    layui.use('element', function () {
        var element = layui.element;
    });
    //设置iframe的宽度,
    $(function () {
        autoIframe();
    })
    $(window).resize(function () {
        autoIframe();
    });

    function autoIframe() {
        // var left_width = $(".menu-left").width();
        // var all_width = $("body").width();
        // $("iframe").width(all_width - left_width);
        var height = window.innerHeight;
        $("iframe").height(height - 60);
    }
</script>
</body>
</html>